.article__list {
	display: flex;
	flex-wrap: wrap;
	aling-content: flex-start;
	width: 100%;
	list-style-type: none;
	margin-top: rem(48px);
	border-radius: rem(5px);
	padding: 0;
}

.article__item {
	background-color: $white;
	width: 31%;
	margin-left: rem(24px);
	padding: rem(12px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include phones {
		width: 100%;
		margin-left: 0;
		margin-bottom: rem(12px);
	}
}

.article__item:first-child {
	margin-left: 0;
}

.article__title {
	display: flex;
	justify-content: space-between;
}

.article__img {
	border-radius: rem(5px);
	max-height: rem(80px);
}

.article__name {
	font-size: rem(24px);
	font-weight: 300;
	color: $grey;
	width: 80%;
	margin: 0 0 0 rem(12px);
}

.article__about {
	font-size: rem(18px);
	color: $grey;
	margin: rem(18px) 0;

	@include phones {
		display: none;
	}
}

.article__btn {
	color: $lightblue;
	font-size: rem(18px);
	background-color: $white;
	border: 1px solid $lightblue;
	border-radius: rem(5px);
	cursor: pointer;

	@include phones {
		margin-top: rem(20px);
	}
}

.article__minititle {
	color: $lightgrey;
	font-size: rem(18px);
	margin-top: rem(12px);
}

.article__minititle.bold {
	font-weight: bold;
}

.article__format {
	font-size: rem(12px);
	color: $grey;
	margin-bottom: rem(12px);

	@include phones {
		display: none;
	}
}

.article__format.bold {
	font-weight: bold;
}



.article__shorttitle {
	font-size: rem(36px);
	color: $lightgrey;
	margin: rem(24px) 0 rem(12px) 0;
	text-align: right;

	@include phones {
		display: none;
	}
}

.article__shortabout {
	font-size: rem(12px);
	text-align: right;
	margin-bottom: rem(12px);

	@include phones {
		display: none;
	}
}

.article__more {
	background-color: $orange;
	color: $white;
	font-size: rem(18px);
	width: 100%;
	border-radius: rem(5px);
	border: 1px solid $orange;
	padding: rem(6px);
	cursor: pointer;

	@include phones {
		display: none;
	}
}

.article__shorttitle-hidden {
	display: none;

	@include phones {
		display: block;
		font-size: rem(36px);
		color: $lightgrey;
		margin: 0;
	}
}

.article__showtitle {
	display: flex;
	justify-content: space-between;
}