.icon.icon-web {
    width: rem(23px);
    height: rem(24px);
    //fill: white;
}

.icon.icon-culture {
    width: rem(24px);
    height: rem(24px);
    // fill: $green;
}

.icon.icon-handshake {
    width: rem(24px);
    height: rem(24px);
    //   fill: $blue;
}

.icon-in {
    width: rem(23px);
    height: rem(24px);
}