.follow__list {
    list-style-type: none;
    padding-left: 0;
}

.follow__item {
    display: flex;
    margin-bottom: rem(6px);
    align-items: center;
}

.follow__link {
    font-size: rem(18px);
    color: $lightblue;
    text-decoration: none;
}

.follow__img {
    margin-right: rem(12px);
    fill: white;
}