html {
    @include tablets {
        font-size: rem(15px);
    }

    @include phones {
        font-size: rem(13px);
    }
}

body {
    font-size: rem(16px);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: rem(984px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include tablets {
        width: 95%;
    }

    @include phones {
        width: 90%;
    }
}

.container-footer {
    padding: rem(48px) 0;

    @include phones {
        padding: rem(24px) 0;
    }
}

.maincontent {
    width: 100%;
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.footer {
    background-color: $backgrey;
}