.section__header {
    font-size: rem(36px);
    color: $grey;
    padding: rem(48px) 0 rem(18px) 0;
}

.section__title {
    font-size: rem(21px);
    color: $lightgrey;
    margin-bottom: rem(36px);
}