/* цвета */
$purple: #5A4D99;
$green: #BFCC36;
$blue: #1A587A;
$orange: #FFA500;
$lightblue: #009DF2;
$white: #fff; 
/*цвета текста*/

$grey: #383838;
$lightgrey:  #757575;
/*breakpoints*/

$tablet: 768px;
$phone: 480px;