.area__list {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding-left: 0;
}

.area__item {
    width: 45%;
    display: flex;
    margin-bottom: rem(6px);
    align-items: center;

    @include tablets {
        width: 55%;
    }

     @include phones {
        width: 100%;
    }
}
.area__img {
	width: rem(30px);

}

.area__img.purple {
    background-color: $purple;
}

.area__img.green {
    background-color: $green;
}

.area__img.blue {
    background-color: $blue;
}

.area__desc {
	margin-left: rem(6px);
	background-color: #f8f8f8;
	justify-content: center;
    font-size: rem(15px);

    @include phones {
    font-size: rem(18px);
    }
}