.area__list {
    display: flex;
    flex-wrap: wrap;
}

.area__item {
    width: 50%;
    display: flex;
}

.area__img.purple {
    background-color: $purple;
}

.area__img.green {
    background-color: $green;
}

.area__img.blue {
    background-color: $blue;
}