.icon-web {
    width: rem(23px);
    height: rem(24px);
   // fill: $purple;
}

.icon-culture {
    width: rem(64px);
    height: rem(64px);
    fill: $white;
}

.icon-hand-shake {
    width: rem(64px);
    height: rem(64px);
    fill: $white;
}